<div
  class="container"
>

  <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">All Categories</h2>
        </div>
        <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
            <a class="btn btn-success" routerLink="/categories/create">Create</a>
        </div>
    </div>

    <!-- Filter Section -->
<section class="py-3 filter-bar">
    <div class="row" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
        <div class="col-12">
              <div class="row">
                  <div class="col-md-3">
                      <input #filterInput type="text" class="form-control" placeholder="Name" name="name">
                  </div>

                  <!-- Submit Button -->
                  <div class="col-md-2">
                      <button (click)="filter(filterInput.value)" class="btn btn-dark w-100">Filter</button>
                  </div>
                  <div class="col-md-2">
                      <button (click)="resetFilter()" class="btn btn-danger w-100">Reset</button>
                  </div>
              </div>
        </div>
    </div>
</section>

  <div class="row">
  <div class="col-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of categories; track item.id) {
          <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>

          @if (item.isActive) {
            <td><span class="badge text-bg-success">Active</span></td>
          }
          @else{
            <td><span class="badge text-bg-danger">IN Active</span></td>
          }
          <td>
            <a class="btn btn-warning" style="margin-right: 5px;" routerLink="/categories/update/{{item.id}}">Edit</a>
            <a class="btn btn-danger btn-delete" (click)="deleteCategory(item.id)">Delete</a>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
</div>
