<!-- <div class="container">
  <div class="row mb-3 align-items-center my-3">
    <div class="col-md-12">
      <h2 class="display-6">Create new Product</h2>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" name="name" [(ngModel)]="product.name">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input class="form-control" name="description" [(ngModel)]="product.description">
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input class="form-control" name="price" [(ngModel)]="product.price">
      </div>

      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input class="form-control" name="quantity" [(ngModel)]="product.quantity">
      </div>

      <div class="mb-3">
        <label for="discount" class="form-label">Discount</label>
        <input class="form-control" name="discount" [(ngModel)]="product.discount">
      </div>

      <div class="mb-3">
        <label for="imageUrl" class="form-label">Main Img</label>
        <input type="file" class="form-control" name="imageUrl" (change)="onMainImgSelected($event)">
      </div>

      <hr>
      <span>OR</span>
      <div class="mb-3">
        <label for="imageUrl" class="form-label">Img URL</label>
        <input class="form-control" name="imageUrl" [(ngModel)]="product.imageUrl">
      </div>
      <hr>

      <div class="mb-3">
        <label for="subImages" class="form-label">Sub Images</label>
        <input type="file" class="form-control" name="subImages" multiple (change)="onSubImagesSelected($event)">
      </div>

      <div class="mb-3">
        <label for="color" class="form-label">Color</label>

        <div id="colorContainer">
          <div class="mb-2 d-flex align-item-center">
            <input type="color" class="form-control form-control-color" name="colors" [(ngModel)]="product.Colors[0]">
          </div>
        </div>

        <button type="button" id="addButtonColor" class="btn btn-outline-primary">+ Add New Color</button>
      </div>

      <div class="mb-3">
        <label for="categoryId" class="form-label">Category</label>
        <select name="categoryId" class="form-select" [(ngModel)]="product.categoryId">
          @for (item of categories; track item.id) {
            <option [value]="item.id">{{item.name}}</option>
          }
        </select>
      </div>

      <div class="mb-3">
        <label for="brandId" class="form-label">Brand</label>
        <select name="brandId" class="form-select" [(ngModel)]="product.brandId">
          @for (item of brands; track item.id) {
            <option [value]="item.id">{{item.name}}</option>
          }
        </select>
      </div>

      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select name="status" class="form-select" [(ngModel)]="product.status">
          <option value="true">Active</option>
          <option value="false">InActive</option>
        </select>
      </div>
      <button (click)="save()" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div> -->