<div
  class="container"
>

  <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">All Products</h2>
        </div>
        <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
            <a class="btn btn-success" routerLink="/products/create">Create</a>
        </div>
    </div>

    <!-- Filter Section -->
    <app-model-filter (filterChanged)="onFilter($event)"></app-model-filter>

  <div class="row">
  <div class="col-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Discount</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of products; track item.id) {
          <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.price | currency }}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.discount}}</td>
          
          @if (item.status) {
            <td><span class="badge text-bg-success">Active</span></td>
          }
          @else{
            <td><span class="badge text-bg-danger">IN Active</span></td>
          }

          <td>
            <a class="btn btn-warning" routerLink="/products/update/{{item.id}}" style="margin-right: 5px;">Edit</a>
            <a class="btn btn-danger btn-delete" (click)="deleteProduct(item.id)">Delete</a>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
</div>
