<div
  class="container"
>

  <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">All Brands</h2>
        </div>
        <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
            <a class="btn btn-success" routerLink="/brands/create">Create</a>
        </div>
    </div>

    <!-- Filter Section -->
    <app-model-filter (filterChanged)="onFilter($event)"></app-model-filter>

  <div class="row">
  <div class="col-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Logo</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of brands; track item.id) {
          <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td><img [src]="item.logoUrl" alt="Logo" width="50"></td>

          @if (item.isActive) {
            <td><span class="badge text-bg-success">Active</span></td>
          }
          @else{
            <td><span class="badge text-bg-danger">IN Active</span></td>
          }
          <td>
            <a class="btn btn-warning" routerLink="/brands/update/{{item.id}}" style="margin-right: 5px;">Edit</a>
            <a class="btn btn-danger btn-delete" (click)="deleteBrand(item.id)">Delete</a>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
</div>

<div>
    <div class="row justify-content-center">
        <div class="col-md-12 justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination" style="
                    display: flex;
                    justify-content: center;">
                    <li class="page-item" [class.disapled]="currentPage === 1">
                        <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                      
                      @for (item of [].constructor(totalPages); track $index) 
                      {
                        <li class="page-item ">
                          <a class="page-link" [class.active]="$index + 1 === currentPage" (click)="changePage($index + 1)">{{$index + 1}}</a>
                        </li>
                      }

                    <li class="page-item" [class.disapled]="currentPage === totalPages">
                        <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
